html, body{
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#clockContainer{
    position: relative;
    width: 300px;
    min-width: 300px;
    /* border: 2px solid black; */
    height: 80px;
    /* display: flex; */
    /* place-items: center;
    grid-row: 1;
    grid-column: 1fr 1fr 1fr; */

    margin: 0 auto;
    text-align: center;
}

#hour, #minute, #second{
    /* width: 32.4%; */
    height: 100%;
    display: inline-block;
    /* border: 1px solid blue; */
    /* display: ; */
    font-size: 4rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#day , #dates, #year{
    display: inline-block;
    /* border: 1px solid blue; */
    /* display: ; */
    font-size: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}